/* smooth scrolling */
html{
  scroll-behavior: smooth;
}

/* font  */
.redressed {
	font-family: "buda",Georgia,serif;
}

/* preloader css */
#preloader{
  background: #F2DAD7 url(../img/logo/loader.gif)  no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* nav bar css */
.cc-navbar {
	background-color: rgba(0, 0, 0, 0.55);
	font-family: "buda",Georgia,serif;
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover {
	padding-bottom: 20px;
	border-bottom-color: var(--bs-teal);
}

.navimg{
  height: 65px;
  width: auto;
  padding-left: 55px ;
}

/* hide nav */
.scrolled-down{
	transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
.scrolled-up{
	transform:translateY(0); transition: all 0.3s ease-in-out;
}

/* header css */
.tophead{
  display: flex;
  align-items: center;
  padding: 250px;
  height: 100vh;
  width: 100%;
}

.banner,
.order-form {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/restaurant/restaurant4.jpeg') center center fixed no-repeat;
	background-size: cover;
	height: 800px;
}

.banner .banner-desc h1 {
  font-size: 48px;
	font-weight: 400;
	color: #fff;
}

.logo{
  display: flex;
  height: 35%;
  width: 50%;
  max-width: 100%;
}

.to-down {
  background: transparent;
  position: fixed;
  padding-bottom: 100px;
  bottom: 5px;
  width:100px;
  height:100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color:#1f1f1f;
  text-decoration: none;
  transition: all .4s;
}
#toDown{
  color: white;
}

#toDown:hover{
  color: #ba6a6a;
  font-size: 75px;
  transition: .25s linear;
}

.to-down.active {
  bottom:32px;
  pointer-events: auto;
  opacity:0;
}

/* discover css */

.Discover_title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #800000;
}

.Discover_btn{
  color: #800000;
}

.Discover_btn:hover {
  background-color: #800000;
  color: white;
  font-size: 22px;
  transition: .25s linear;
}

.Discover_section{
  background-color: #E2E0DA;
  height: 100vh;
  width: 100%;
}
.container_size{
  height: 850px;
}

/* menu css */
.cc-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Carousel/carousel4.jpg') center center fixed no-repeat;
	background-size: cover;
	height: 1200px;
}

.menu_btn> .cc-navbar{
  background-color: transparent;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.54);
	z-index: 99;
}

/* gallery */
.gallery {
  --s: 250px; /* control the size */
  --g: 20px;  /* control the gap */
  --f: 1.5;   /* control the scale factor */
	
  display: grid;
  gap: var(--g);
  width: 1100px;
  height: 800px;
  grid-template-columns: repeat(2,auto);
}
  
.gallery > img {
  display: flex;
  align-items: center;
  justify-content: center;
	border-radius: 2.5%;
	width: 100px;
	height: 50px;
	min-height: 100%;
	min-width: 100%;
	object-fit:cover;
	cursor: pointer;
	transition: .35s linear;
  }
  
  .gallery img:hover{
	filter: grayscale(0);
	width:  calc(var(--s)*var(--f));
	height: calc(var(--s)*var(--f));
  }


/* order css */
.order-form {
  height: 500px;
}

/* footer */
.footer{
  background-color: #E2E0DA; 
}

.footerimg{
  height: 60px;
  width: 100%;
}

/* go to the top arrow */
.to-top {
  background: #ba6a6a;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

/* general css */
.section_color{
  background-color: #E2E0DA; 
  height: 100vh;
  width: 100%;
}

.ours_title{
  color: #800000;
}